Multiple strings in a DNS record joined with space

https://github.com/zaccone/spf/blob/master/spf.go#L109

strings joined with " " (Space), while RFC says they must be joined without adding space.

>    As defined in [RFC1035], Sections 3.3 and 3.3.14, a single text DNS
>    record can be composed of more than one string.  If a published
>    record contains multiple character-strings, then the record MUST be
>    treated as if those strings are concatenated together without adding
>    spaces.

https://tools.ietf.org/html/rfc7208#section-3.3

Thanks for opening the issue.  I will fix it over the weekend or feel free to file a pull request!